<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>relative rotations</title>
  <link href="../../static/css/impress-common.css" rel="stylesheet" />
  <style type="text/css" media="screen">
    #overview {
      background: none;
      border: none;
      box-shadow: none;
      width: 1800px;
      height: 1300px;
    }

    #overview div {
      width: 100%;
      height: 100%;
    }

    .step {
      position: relative;
      width: 1000px;
      height: 1000px;
      padding: 40px 60px;
      margin: 20px auto;

      box-sizing: border-box;

      line-height: 1.5;

      /* background-color: yellow; */
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

      text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

      font-family: 'Open Sans', Arial, sans-serif;
      font-size: 40pt;
      letter-spacing: -1px;
      border: solid 2px red;

      opacity: 40%;
    }

    .step.active {
      opacity: 100%;
    }

    .step.ring2 {
      background-color: rgb(255, 255, 255);
    }

    .step.box {
      /* background-color: purple; */
      opacity: 70%;
    }

    .step.box1 {
      background-color: lightblue;
    }
  </style>
</head>

<body class="impress-not-supported">
  <div id="impress" data-width="2000" data-height="1500">
    <div id="overview" class="step overview" data-rel-position="relative" data-x="-1000" data-y="-1500" data-z="100"
      data-scale="3" data-rotate-x="45" data-rotate-y="10">
      <div>
        <h2>何其有幸</h2>
        <p>年岁并进<br>
          岁去千般皆如意<br>
          今年万事定称心</p>
        <p>愿你快乐、旧疾当愈、平安顺遂、万事胜意</p>
      </div>
    </div>

    <div id="ring1-1" class="step" data-rel-reset="all" data-x="0" data-y="0" data-z="0" data-rotate-y="10">
      <div
        style="width: 100%; height: 100%; background-image: url('../../static/images/jiao-jiao/image-07a9ccd7-6754-4d78-b9a2-84bb1b693849-2316-2316.jpg');background-repeat: no-repeat;background-size: 100% ;">
      </div>
    </div>

    <div id="ring1-2" class="step" data-rel-rotate-y="45" data-rel-z="-354" data-rel-x="854">
      <div
        style="width: 100%; height: 100%; background-image: url('../../static/images/jiao-jiao/image-3c889824-ea0f-493f-bd43-c9fd2d531c94-1597-2373.png');background-repeat: no-repeat;background-size: 100% ;">
      </div>
    </div>

    <div id="ring1-3" class="step">
      <div
        style="width: 100%; height: 100%; background-image: url('../../static/images/jiao-jiao/image-3d132ee7-6c7e-41f1-bc8b-7037cb577ef7-714-800.jpg');background-repeat: no-repeat;background-size: 100% ;">
      </div>
    </div>

    <div id="ring1-4" class="step">
      <div
        style="width: 100%; height: 100%; background-image: url('../../static/images/jiao-jiao/image-3e6cc77c-cbaf-47a1-a632-1231460637d7-2543-1957.jpg');background-repeat: no-repeat;background-size: 100% ;">
      </div>
    </div>

    <div id="ring1-5" class="step">
      <div
        style="width: 100%; height: 100%; background-image: url('../../static/images/jiao-jiao/image-4ac461a7-852e-4ab4-ae1e-e0c750c41abb-1096-1240.jpg');background-repeat: no-repeat;background-size: 100% ;">
      </div>
    </div>

    <div id="ring1-6" class="step">
      <div
        style="width: 100%; height: 100%; background-image: url('../../static/images/jiao-jiao/image-4c782952-7262-4f82-92e0-348e91e9cd79-2134-1600.jpg');background-repeat: no-repeat;background-size: 100% ;">
      </div>
    </div>

    <div id="ring1-7" class="step">
      <div
        style="width: 100%; height: 100%; background-image: url('../../static/images/jiao-jiao/image-6f65186a-b795-40e8-b643-6db58a57c657-2769-2316.jpg');background-repeat: no-repeat;background-size: 100% ;">
      </div>
    </div>

    <div id="ring1-8" class="step">
      <div
        style="width: 100%; height: 100%; background-image: url('../../static/images/jiao-jiao/image-07a9ccd7-6754-4d78-b9a2-84bb1b693849-2316-2316.jpg');background-repeat: no-repeat;background-size: 100% ;">
      </div>
    </div>

    <div id="ring2-1" class="step ring2" data-rel-reset="all" data-x="-500" data-y="0" data-z="-1514" data-rotate-x="90"
      data-rotate-y="270" data-rotate-z="0">
      <div
        style="width: 100%; height: 100%; background-image: url('../../static/images/jiao-jiao/image-7f6379e8-507b-49de-902e-34d44b8182b4-1512-1187.jpg');background-repeat: no-repeat;background-size: 100% ;">
      </div>
    </div>

    <div id="ring2-2" class="step ring2" data-rel-rotate-y="45" data-rel-z="-354" data-rel-x="854" data-rel-y="0">
      <div
        style="width: 100%; height: 100%; background-image: url('../../static/images/jiao-jiao/image-9fd81bdb-492e-4eac-bc76-7a8604b7b99f-1597-2373.png');background-repeat: no-repeat;background-size: 100% ;">
      </div>
    </div>

    <div id="ring2-3" class="step ring2">
      <div
        style="width: 100%; height: 100%; background-image: url('../../static/images/jiao-jiao/image-10f6a40f-c911-49c0-b42c-50054fa32bdf-969-1024.jpg');background-repeat: no-repeat;background-size: 100% ;">
      </div>
    </div>

    <div id="ring2-4" class="step ring2">
      <div
        style="width: 100%; height: 100%; background-image: url('../../static/images/jiao-jiao/image-23ee4417-d229-42a9-9cf7-9ab0cca8b125-2316-2316.jpg');background-repeat: no-repeat;background-size: 100% ;">
      </div>
    </div>

    <div id="ring2-5" class="step ring2">
      <div
        style="width: 100%; height: 100%; background-image: url('../../static/images/jiao-jiao/image-29d7fdca-68ec-4a9a-81d2-2ccacce93b8e-1080-1210.jpg');background-repeat: no-repeat;background-size: 100% ;">
      </div>
    </div>

    <div id="ring2-6" class="step ring2">
      <div
        style="width: 100%; height: 100%; background-image: url('../../static/images/jiao-jiao/image-30eafb8b-6e1c-4983-9aea-e2d0bec4d292-1544-1158.JPG');background-repeat: no-repeat;background-size: 100% ;">
      </div>
    </div>

    <div id="ring2-7" class="step ring2">
      <div
        style="width: 100%; height: 100%; background-image: url('../../static/images/jiao-jiao/image-76c4fd2d-873a-4c82-89d7-e6f4e67458f3-1158-1158.jpg');background-repeat: no-repeat;background-size: 100% ;">
      </div>
    </div>

    <div id="ring2-8" class="step ring2">
      <div
        style="width: 100%; height: 100%; background-image: url('../../static/images/jiao-jiao/image-79b008b5-00e3-4c47-9dc4-ac488e872ab5-1706-1280.JPG');background-repeat: no-repeat;background-size: 100% ;">
      </div>
    </div>
  </div>

  <div id="impress-toolbar"></div>
  <div id="impress-help"></div>

  <script type="text/javascript" src="../../static/js/impress.js"></script>
  <script>impress().init();</script>
</body>

</html>