@keyframes expandShape {
    from {
        margin-bottom: 100%;
    }

    to {}
}


.shape {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    animation-duration: 2s;
    animation-name: expandShape;
    /* animation-iteration-count: infinite; */
    transition-timing-function: cubic-bezier(0.31, 0.2, 0.58, 1);
}

/* 定义一个圆角矩形样式 */
.rectangle {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    transition: width 1s, height 1s, transform 1s;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.box-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: inherit;
    background-image: url('../../images/background/image-b128294c-133c-4646-a018-e30825430991-1046-1743.jpg');
    background-size: cover;
    opacity: 1;
}

.cont {
    display: flex;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    width: 25%;
    margin: 10px;
    padding: 10px;
    min-height: 70%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.cont p {
    font-size: 2rem;
    font-family: "KaiTi", Arial, sans-serif;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    color: black;
}

.p-class {
    font-size: 3rem;
    font-family: "KaiTi", Arial, sans-serif;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    color: black;
}