<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width,initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5, user-scalable=no">
  <title>Happy Birthday to GJ</title>
  <script src="../static/js/jquery-3.7.1.js"></script>
  <script src="../static/js/jquery.fullPage.js"></script>
  <script src="../static/js/anime_v3.2.2.js"></script>
  <script src="../static/js/typed.umd.js"></script>
  <script src="../static/js/typed.umd.js.map"></script>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.min.js" integrity="sha512-aNMyYYxdIxIaot0Y1/PLuEu3eipGCmsEUBrUq+7aVyPGMFH8z0eTP0tkqAvv34fzN6z+201d3T8HPb1svWSKHQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.20/fullpage.min.js" integrity="sha512-LGiXf+jHGTHcIybSsOWO3I/in+OObCkcEsWIZ7IyhzfD6RzD5qDUw2CK+JveuI7zTSEcDG//bIOvOpAJW2BWsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

  <link rel="stylesheet" href="../static/css/jquery.fullPage.css">
  <link rel="stylesheet" href="../static/css/users/say.css">
</head>

<body>
  <div style="z-index:100;" id="dowebok">
    <div class="section">
      <div class="box-cont">
        <!-- 白色点过度到圆角矩形 -->
        <div class="shape">
          <div id="c101">
            <div id="c101c">
              <div class="p-font">
                <p class="p-class">Hi</p>
                <p class="p-class">今天是一个特别重要的日子</p>
                <p class="p-class">那就是我们静静大宝贝的生日</p>
                <p class="p-class">在这个重要的时刻我想说一句</p>
                <p class="p-class">生日快乐</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="box-cont">
        <div class="cont">
          <div class="p-font">
            <p class="p-class">见字如晤，展信舒颜，意在君安！</p>
            <p class="p-class" style="font-style: italic;">见字如晤，展信舒颜，意在君安！</p>
            <p class="p-class">见字如晤，展信舒颜，意在君安！</p>
            <p class="fade-out-text">见字如晤，展信舒颜，意在君安！</p>
          </div>
        </div>
        <div class="cont">
          <div class="p-font" style="font-size: 20px;">
            <p class="p-class">见字如晤，展信舒颜，意在君安！</p>
            <p class="p-class">见字如晤，展信舒颜，意在君安！</p>
            <p class="p-class">见字如晤，展信舒颜，意在君安！</p>
            <p class="fade-out-text">见字如晤，展信舒颜，意在君安！</p>
          </div>
        </div>
        <div class="cont">
          <div id="c202" class="p-font">
            <div id="c202c">
              <div class="p-font">
                <p class="p-class"> Best Wishes:</p>
                <p class="p-class"> Each birthday is a milestone we touch along life\'s way May your birthday be happy
                  in
                  more ways than one.</p>
                <p class="p-class"> I hasten to congratulate you on the coming of your birthday. </p>
                <p class="p-class"> May gladness fill your every hour with joy to light your way. </p>
                <p class="p-class"> Wishing you a wonderful birthday. </p>
                <p class="p-class"> You make this world a nicer place just by being so kindhearted. </p>
                <p class="p-class"> May this day that is all your own hold happiness for you and the years to come be
                  filled
                  with all best things, too</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">

    </div>
    <div class="section">e</div>
    <div class="section">e</div>
  </div>
</body>
<script src="../static/js/users/say.js"></script>

</html>