<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5, user-scalable=no">

    <title>Happy Birthday to xxx</title>
    <link rel="stylesheet" href="../static/css/jquery.fullPage.css">
    <link rel="stylesheet" href="../static/css/full_page_style.css">
</head>

<body class="bgcolor">
    <div class="">
        <div style="z-index:100;" id="dowebok">
            <!--one-->
            <div class="section">
                <div class="ly-box01">
                    <div class="ly-txt01">
                        <p class="ly-stxt01">Hi</p>
                        <p class="ly-stxt02">今天是一个特别重要的日子</p>
                        <p class="ly-stxt03">那就是我们静静大宝贝的生日</p>
                        <p class="ly-stxt04">在这个重要的时刻我想说一句</p>
                        <p class="ly-stxt05">生日快乐</p>
                    </div>
                    <div class="ly-txt02">
                        <p class="ly-stxt06">很遗憾此时不能够在你的身边</p>
                        <p class="ly-stxt07">但是留下了此链接</p>
                        <p class="ly-stxt08">希望能够将我心中的祝福告诉你</p>
                        <p class="ly-stxt09"></p>
                        <p class="ly-stxt10"></p>
                    </div>
                </div>
            </div>
            <!--two-->
            <div class="section">
                <div class="timeline"></div>
                <div class="timepoint21"></div>
                <div class="ly-box21">
                    <div class="ly-txt21" style="width:100%;height:10%;left:10%">
                        <img class="ly-img11" src="img/1.png" style="width:200%;height:100%">
                    </div>
                    <div class="ly-txt22" style="left:20%;font-size: 45px">
                        <p>祝</p>
                        <p>你</p>
                    </div>
                    <div class="ly-imgbox21">
                        <img class="ly-img21" src="img/2.png">
                    </div>
                </div>
                <div class="ly-triangle21"></div>

                <div class="ly-box22">
                    <div class="ly-txt23" style="width:100%;height:10%;left:10%">
                        <img class="ly-img11" src="img/1.png" style="width:200%;height:100%">
                    </div>
                    <div class="ly-txt24" style="font-size: 20px;">
                        <p>百事可乐</p>
                        <p>万事芬达</p>
                        <p>天天哇哈哈</p>
                        <p>月月乐百事</p>
                    </div>
                    <div class="ly-imgbox22">
                        <img class="ly-img22" src="img/3.png">
                    </div>
                </div>
                <div class="ly-triangle22"></div>

                <div class="ly-box23">
                    <div class="ly-txt25" style="width:100%;height:10%;left:10%">
                        <img class="ly-img11" src="img/1.png" style="width:100%;height:100%">
                    </div>
                    <div class="ly-txt26" style="font-size: 20px;">
                        <p>年年高乐高</p>
                        <p>心情似雪碧</p>
                        <p>永远心飞扬</p>
                    </div>
                    <div class="ly-imgbox23" style="height: 70%">
                        <img class="ly-img23" src="img/part-00584-1480.jpg" style="height: 100%">
                    </div>
                </div>
                <div class="ly-triangle23">
                    <p>
                        天气晴朗，万物可爱
                    </p>
                </div>
            </div>


            <!--three-->
            <div class="section">
                <div class="timeline"></div>
                <div class="timepoint11"></div>
                <div class="ly-box11">
                    <div class="ly-txt11" style="width:100%;height:10%;left:10%">
                        <img class="ly-img11" src="img/1.png" style="width:100%;height:100%">
                    </div>
                    <div class="ly-txt12">
                        <p>我会在每一个有意义的时刻，远隔山海祝你快乐</p>
                        <p>希望所有俗套的祝福语都在你身上应验</p>
                    </div>
                    <div class="ly-imgbox11" style="height:80%;">
                        <!-- <img class="ly-img11" src="jing/QQ图片20211107164953.jpg" style="height:100%"> -->
                        <div
                            style="width: 100%;display: block;background-image: url(./jing/QQ图片20211107164953.jpg);background-size: contain;">
                        </div>
                    </div>
                </div>
                <div class="ly-triangle11"></div>

                <div class="ly-box12">
                    <div class="ly-txt13" style="width:100%;height:10%;left:10%">
                        <img class="ly-img11" src="img/1.png" style="width:100%;height:100%">
                    </div>
                    <div class="ly-txt14">
                        <p>当然今天可是一个很重要的日子呀</p>
                        <p>记得一定要快乐哟</p>
                        <p>叫上闺蜜们去外面好好吃一顿</p>
                        <p>同时记得安全哟戴好口罩</p>
                    </div>
                    <div class="ly-imgbox11" style="height:50%">
                        <img class="ly-img11" src="img/6.png" style="height:100%">
                    </div>
                </div>
                <div class="ly-triangle12"></div>
            </div>


            <!--four-->
            <div class="section">
                <div class="timeline"></div>
                <div class="timepoint11"></div>
                <div class="ly-box11">
                    <div class="ly-txt11">
                        201x-xx-xx
                    </div>
                    <div class="ly-txt12">
                        太阳是金色的，月亮是银色的，你的生日是彩色的，愿你被幸福环绕，被好运追逐，被快乐降伏，被笑容粘住。那时别忘了，有人在远方为你祝福，生日快乐
                    </div>
                    <div class="ly-imgbox11">
                        <img class="ly-img11" src="jing/QQ图片20211107165002.jpg">
                    </div>
                </div>
                <div class="ly-triangle11"></div>

                <div class="ly-box12">
                    <div class="ly-txt13">
                        201X-XX-XX
                    </div>
                    <div class="ly-txt14">

                        <p>希望你像满天星一样璀璨</p>
                        <p>祝你眼里有星河，心中藏月光</p>
                        <p>XXXXXXXXXXXXXXXX</p>
                        <p>XXXXXXXXXXXXXXXXX</p>
                        <div class="ly-imgbox11">
                            <img class="ly-img11" src="jing/QQ图片20211107164931.jpg">
                        </div>
                    </div>
                </div>
                <div class="ly-triangle12"></div>
            </div>

            <!--five-->
            <div class="section">
                <div class="timeline"></div>
                <div class="timepoint21"></div>
                <div class="ly-box21">
                    <div class="ly-txt21">
                        201X-XX-XX
                    </div>
                    <div class="ly-txt22">
                        <p><br></br></p>
                        <p>我有很长的故事要讲，你愿意听吗？</p>
                        <p>七月的风，八月的你，可爱的宝贝，记得开心。</p>
                    </div>
                    <div class="ly-imgbox21">
                        <img class="ly-img21" src="jing/QQ图片20211107164931.jpg">
                    </div>
                </div>
                <div class="ly-triangle21"></div>

                <div class="ly-box22">
                    <div class="ly-txt23">
                        不管多大，都要热爱生活，相信童话故事里的英雄和魔法。
                    </div>
                    <div class="ly-imgbox22">
                        <img class="ly-img22" src="jing/QQ图片20211107164931.jpg">
                    </div>
                </div>
                <div class="ly-triangle22"></div>

                <div class="ly-box23">
                    <div class="ly-txt25">
                        恭喜你，已长成亭亭玉立的大姑娘啦
                    </div>
                    <div class="ly-imgbox23">
                        <img class="ly-img23" src="jing/QQ图片20211107164950.jpg">
                    </div>
                </div>
                <div class="ly-triangle23"></div>
            </div>


            <!--six-->
            <div class="section">
                <div class="timeline"></div>
                <div class="timepoint31"></div>
                <div class="ly-box31">
                    <div class="ly-txt31" style="width:100%;height:10%;left:10%">
                        <!-- <img class="ly-img11" src="jing/QQ图片20211107164910.jpg" style="width:100%;height:100%"> -->
                    </div>
                    <div class="ly-txt32">
                        <p>祝你：</p>
                        <p>&nbsp;&nbsp;福如东海老王八,啦啦啦！！！</p>
                        <p>&nbsp;&nbsp;寿比南山大石头,啦啦啦！！！</p>
                    </div>
                    <div class="ly-imgbox31" style="height:50%">
                        <img class="ly-img31" src="jing/QQ图片20211107165013.jpg" style="height:400px">
                    </div>
                </div>
                <div class="ly-triangle31"></div>

                <div class="ly-box32">
                    <div class="ly-txt33" style="width:100%;height:15%;left:10%">
                        <!-- <img class="ly-img11" src="jing/QQ图片20211107164947.jpg" style="width:100%;height:300px"> -->
                    </div>
                    <div class="ly-txt34">
                        <p>祈望你心灵深处芳草永绿，青春常驻，笑口常开。祝你生日快乐，健康幸福！</p>
                    </div>
                    <div class="ly-imgbox31">
                        <img class="ly-img31" src="jing/QQ图片20211107165002.jpg" style="height: 400px;">
                    </div>
                </div>
                <div class="ly-triangle32"></div>
            </div>
            <!-- saven -->
            <div class="section">
                <div class="timeline"></div>
                <div class="timepoint11"></div>
                <div class="ly-box81">
                    <div class="ly-txt11" style="width:100%;height:10%;left:10%">
                        <img class="ly-img11" src="img/1.png" style="width:200%;height:200%">
                    </div>
                    <div class="ly-txt82" style="top:8%">
                        <p class="wwww1"></p>
                        <p class="wwww1">以前的你是我的世界</p>
                        <p class="wwww1">现在的你是我对抗世界的骨气</p>
                        <p class="wwww1">尽管最后是遗憾</p>
                        <p class="wwww1">但我们都要快乐</p>
                        <p class="wwww1">以后路过&nbsp;满是落叶的秋天</p>
                        <p class="wwww1">我都在身后看着你</p>
                    </div>
                    <div class="ly-imgbox81">
                        <img class="ly-img81" src="img/6.png">
                    </div>
                </div>
                <div class="ly-triangle11"></div>

                <div class="ly-box82">
                    <div class="ly-txt13" style="width:100%;height:10%;left:10%">
                        <img class="ly-img11" src="img/1.png" style="width:100%;height:100%">
                    </div>
                    <div class="ly-txt84">
                        <p>Best Wishes:</p>
                        <p>Each birthday is a milestone we touch along life's way May your birthday be happy in more
                            ways than one.
                        </p>
                        <p>I hasten to congratulate you on the coming of your birthday. </p>
                        <p>May gladness fill your every hour with joy to light your way. </p>
                        <p>Wishing you a wonderful birthday. </p>
                        <p>You make this world a nicer place just by being so kindhearted. </p>
                        <p>May this day that is all your own hold happiness for you and the years to come be filled with
                            all the
                            best things, too.</p>
                    </div>
                    <div class="ly-imgbox11" style="height:180px;width:320px;left:30%;bottom: 30px">
                        <img class="ly-img11" src="img/7.jpg" style="height:100%">
                    </div>
                </div>
                <div class="ly-triangle82">
                    <div class="ly-imgbox11" style="height:180px;width:320px;left:30%;bottom: 30px">
                        <img class="ly-img11" src="img/7.jpg" style="height:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul class="bg-bubbles">
        <li><img src="../static/images/birthday.gif" style="width:100%;height:100%"></li>
        <li><img src="../static/images/birthday.gif" style="width:100%;height:100%"></li>
        <li><img src="../static/images/birthday.gif" style="width:100%;height:100%"></li>
        <li><img src="../static/images/birthday.gif" style="width:100%;height:100%"></li>
        <li><img src="../static/images/birthday.gif" style="width:100%;height:100%"></li>
        <li><img src="../static/images/birthday.gif" style="width:100%;height:100%"></li>
        <li><img src="../static/images/birthday.gif" style="width:100%;height:100%"></li>
        <li><img src="../static/images/birthday.gif" style="width:100%;height:100%"></li>
        <li><img src="../static/images/birthday.gif" style="width:100%;height:100%"></li>
        <li><img src="../static/images/birthday.gif" style="width:100%;height:100%"></li>
    </ul>

    </div>
    <audio src="music/2.mp3" autoplay="autoplay" loop="loop"></audio>

    <script src="../static/js/jquery-3.7.1.js"></script>
    <script src="../static/js/jquery.fullPage.js"></script>
    <script>
        $(function () {
            $('#dowebok').fullpage({
                'navigation': true,
                'navigationPosition': "left",
                'navigationColor': ['#fff'],
                "onLeave": function (origin, destination, direction) {
                    if (origin == 4) {
                        setTimeout(function () { location.href = "index.html"; }, 500);
                    }
                    console.log("滚动之前调用", origin, destination, direction);
                },
                "afterLoad": function (origin, destination, direction) {
                    console.log("滚动之后调用", origin, destination, direction);
                }
            });
        });
    </script>
</body>

</html>